@import "../../../../scss/mixins";
@import "../../../../scss/reset";
@import "../../../../scss/variables";
.tour {
	width: calc(100% / 4 - 2.25rem);
	display: flex;
	flex-direction: column;
	background-color: #fff;
	transition: 0.35s;
	padding: 1rem;

	&:hover {
		transform: translateY(-10px);
	}

	&__img {
		height: 17.7rem;
		margin-bottom: 1rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__desc {
		height: calc(100% - 17.7rem);
		display: flex;
		flex-direction: column;
		padding: 1rem;
	}

	&__title {
		font-size: 1.4rem;
		margin-bottom: 1rem;

		overflow: hidden;
		text-overflow: ellipsis;

		display: -webkit-box;
		-webkit-line-clamp: 2;
		/* number of lines to show */
		-webkit-box-orient: vertical;
	}

	// &__transportation {
	// 	margin-bottom: 1rem;

	// }

	&__schedule {
		margin-top: auto;
	}

	&__schedule,
	&__time {
		margin-bottom: 1rem;
	}

	&__schedule p,
	&__time p {
		font-size: 1.2rem;
		color: #666666;
	}

	&__schedule p span,
	&__time p span {
		color: #ff5722;
		margin-left: 0.5rem;
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		font-size: 1.8rem;
		color: #ff5722;
	}

	&__booking {
		font-size: 1.3em;
		text-transform: uppercase;
		padding: 1rem;
		color: #fff;
		background-color: #ff5722;
		border: 1px solid #ff5722;
		outline: none;
		cursor: pointer;
	}
}
