@import "../../../../scss/reset";
@import "../../../../scss/variables";

.login {
	width: 100%;
	height: 100vh;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

	&__error-input {
		font-size: 1.4rem;
		color: red;
		margin-bottom: 1.5rem;
	}

	&__error-field {
		border: 1px solid red !important;
	}

	&__error-submit {
		width: 100%;
		margin-top: 2rem;
		padding: 2rem;

		font-size: 1.4rem;
		background-color: #fdecea;
		color: red;
		border: 1px solid red;
		line-height: 1.4;

		display: flex;
		align-items: center;

		span:first-child {
			font-size: 2rem;
			margin-right: 1rem;
		}
	}

	&__form {
		width: 100%;
		max-width: 60rem;
		max-height: 45rem;
		background-color: #fff;
		border: 1px solid #d5d5d5;
		border-radius: 10px;
		padding: 7rem 0;

		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		font-size: 4rem;
		margin-bottom: 3rem;
	}

	&__input {
		display: flex;
		flex-direction: column;
		width: 70%;
	}

	&__input label {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	&__input input {
		padding: 1rem 2rem;
		font-size: 1.6rem;
		background-color: #f8f8f8;
		border: 1px solid #f8f8f8;
		border-radius: 8px;
		outline: none;
		margin-bottom: 2rem;
	}

	&__submit {
		text-transform: uppercase;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		width: 50%;

		background-color: #1ba0e2;
		border: 1px solid #1ba0e2;
		border-radius: 8px;
		outline: none;
		color: #fff;

		cursor: pointer;
	}
}
