@import "../../../../scss/mixins";
@import "../../../../scss/reset";
@import "../../../../scss/variables";

.tours-list {
	padding: 5rem 0;

	&__container {
		@include container;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		margin-bottom: 2rem;
	}
}
