@import "../../../../../../scss/_reset.scss";

.donvi-table {
	width: 100%;
	overflow: scroll;
	max-height: 500px;
	font-size: 16px;

	button {
		padding: 5px;
		width: 70px;
		height: 30px;
		background-color: #59d05d;
		border: 1px solid #59d05d;
		cursor: pointer;
		border-radius: 4px;
		opacity: 0.9;
	}

	table {
		table-layout: fixed;
		padding: 10px;
		display: block;
		max-height: 500px;
		overflow: scroll;
		width: 100%;
	}

	th,
	td {
		text-align: left;
		padding: 15px;
	}

	th {
		background-color: rgba(29, 122, 243, 0.5);
	}

	tr:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.05);
	}

	tr {
		padding: 20px 0;
	}

	button:hover {
		opacity: 1;
	}

	.button-red {
		background-color: #ff646d;
		border: 1px solid #ff646d;
	}
}

.donvi-table > table {
	display: table;
	overflow: scroll;
	width: 100%;
}

.donvi__more-info {
	display: flex;
	justify-content: space-between;
	margin-right: 60px;
}

.donvi__more-info > span {
	margin-right: 50px;
}
