.donvi-show__kinhphi {
	margin-top: 30px;

	button {
		padding: 5px !important;
		width: 70px !important;
		height: 30px !important;
		background-color: #59d05d !important;
		border: 1px solid #59d05d !important;
		cursor: pointer !important;
		border-radius: 4px !important;
		opacity: 0.9 !important;

		margin-right: 6px;
		width: 95px;
		height: 50px;
		align-items: center;
	}
}

.donvi-show__kinhphi:hover {
	height: max-content;
}

.donvi-show__kinhphi > .donvi-form__group {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.donvi-show__kinhphi > .donvi-form__group > input {
	width: 200px;
	height: 30px;
	padding: 10px;
}
