@import "../../../../../../scss/mixins";
@import "../../../../../../scss/reset";
@import "../../../../../../scss/variables";

.user-info {
	padding: 5rem;
	background-color: #f3f5f7;

	&__container {
		@include container;
	}

	&__alert {
		font-size: 2rem !important;
	}

	&__content {
		display: flex;
	}

	&__error-input {
		font-size: 1.4rem;
		color: red;
		margin-bottom: 3rem;
		margin-left: 14.5rem;
		margin-top: -2rem;
	}

	&__error-field {
		border: 1px solid red !important;
	}

	&__title {
		font-size: 2.2rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 3rem;
	}

	&__form {
		background-color: #fff;
		padding: 2rem 3rem;
		flex: 0.8;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&__input {
		width: 80%;

		display: flex;
		align-items: center;
		margin-bottom: 3rem;

		label {
			flex: 0.4;
			font-size: 1.4rem;
		}

		input {
			flex: auto;
			padding: 1rem;
			font-size: 1.4rem;
			border: 1px solid rgba(0, 0, 0, 0.14);
		}
	}

	&__input-sex {
		width: 80%;
		display: flex;
		align-items: center;
		margin-bottom: 3rem;
		font-size: 1.4rem;

		span {
			width: 14.5rem;
		}

		div {
			display: flex;
			align-items: center;

			label {
				margin-right: 1rem;
			}

			&:first-of-type {
				margin-right: 3rem;
			}
		}
	}

	&__save {
		margin: 0 auto;
		font-size: 1.8em;
		padding: 1rem 2rem;
		margin-left: 14.3rem;
		color: #fff;
		background-color: #ff5722;
		border: 1px solid #ff5722;
		outline: none;
		cursor: pointer;
	}
}
